# StrokeNet 签名配置模板
# 
# 使用说明：
# 1. 复制此文件为 keystore.properties
# 2. 填写你的实际签名信息
# 3. 不要将 keystore.properties 提交到 Git
#
# 注意：路径使用正斜杠 / 或双反斜杠 \\

storePassword=你的密钥库密码
keyPassword=你的密钥密码
keyAlias=strokenet
storeFile=C:/Users/你的用户名/.android/strokenet-release.jks
